* {
    box-sizing: border-box;
}


body {
    background-color: #F6F6E9;
    color: #291B25;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
}

header {
    padding: 20px 40px 20px 40px;
    text-align: start;
    background-color: #61A6AB;
    color: #F6F6E9;
}

header h1 {
    padding-left: 20px;
}


nav {
    display: flex;
    background-color: #291B25;
}


nav li {
    display: inline;
    flex-direction: row;
    align-items: flex-start;
}

nav a {
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    color: #F6F6E9;
    padding: 14px 20px;
}

nav a:hover {
    background-color: #61A6AB;
    opacity: 0.5;
    border-radius: 50%;
}

.container-1 {
    display: flex;
    margin-left: 60px;
}

.icon-aboutme {
    display: flex;
    justify-content: space-evenly;
}


.icon {
    border-style: solid #291b25;
    padding: 10px;
    margin: 10px;
    height: 200px;
    width: 200px;
}

.container-2 {
    display: flex;
}

.icon p {
    text-align: center;
}

.icon img {
    width: auto;
}

.icon img: :hover {
    opacity: 0.3;
}

#contact {
    display: flex;
    background-color: #291B25;
}

#contact li {
    display: inline;
    flex-direction: row;
    align-items: flex-start;
}

#contact a {
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    color: #F6F6E9;
    padding: 14px 20px;
}

#contact a:hover {
    background-color: #61A6AB;
    border-radius: 50%;
}

